@using Finanzas.Model
@using Finanzas.Model.VM
@using Newtonsoft.Json
@*@model Finanzas.Model.Cuenta*@
@{
   var cuenta = ViewData["cuenta"] as Cuenta;
   var user = ViewData["user"] as Usuario;
   var listaPastel = ViewData["listaPastel"] as List<pastelJS>; 
   var total = ViewData["total"] ;
}
@{
    <div class="container">
        <div> 
            <h1 class="text-center">Bienvenido: @user.Nombre</h1>
            <div>                
              
            </div>
            

            @if(cuenta.Saldo > 0)
            {
                <p class="text-center text-success"> Saldo: @cuenta.Saldo</p>
            } else
            {
                @if(cuenta.Saldo < 0)
                {
                    <p class="text-center text-danger"> Saldo: @cuenta.Saldo</p>
                }
                else
                {
                    <p class="text-center text-warning"> Saldo: @cuenta.Saldo</p>
                }
            }
            
        </div>
    </div>
}
